body { background-color: #8EB9D4;}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

#page-wrapper {
    /* border: 1px solid green; */
    width: 80%;
    margin: 0px auto;
}

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu  ul li  {
    display: inline;
    padding: 10px 48px;
}

#banner-wrapper {
  margin: 0px -30px 0px 50px;
  display: flex;
  justify-content: center;
}

#my-works {
  margin: 0px -30px 0px 50px;
  /* display: flex; */
  justify-content: center;
}

.intro_2 {
  display: flex;
  
}
.card {
  margin: 50px 60px;
}

.text_section {
  display: flex;
  justify-content: space-between;
}

#work_process {
  margin: 50px 10px 10px 0px;
}


